.top-bar-info ul {
    margin-bottom: 0
}

.top-bar-info li {
    color: #fff;
    list-style-type: none;
    padding: 0 8px 0;
    letter-spacing: 1.5px;
    display: inline-block;
    margin-bottom: 0;
    font-size: 14px
}

.top-bar {
    display: block;
    position: relative;
    z-index: 999;
    background: #e1c340;
    padding: 8px 0
}

.top-bar-info li i {
    font-size: 16px;
    color: #fff;
    margin-right: 8px;
    margin-top: 0;
    display: inline-block;
    vertical-align: middle
}

.top-social-icon {
    padding: 0;
    float: right;
    margin: 5px 0 0 0
}

.top-social-icono li {
    font-size: 14px;
    list-style-type: none;
    float: left;
    text-align: center;
    margin: 0;
    padding: 0 7px
}

.top-social-icono li a {
    color: #fff;
    line-height: 28px;
    -webkit-transition-duration: .3s;
    transition-duration: .3s;
    font-size: 16px;
    padding: 0 3px
}

.top-social-icono li a:hover {
    color: #009fe3;
}

@media screen and (max-width: 767px) {
    .top-bar-info li {
        padding: 0 5px 0;
        font-size: 12px;
        letter-spacing: 1px
    }

    .top-bar-info li i {
        font-size: 14px
    }
}

#logo{
    max-height: 45px;
}

#nav li{
    margin-right: 20px;
}

#nav li a:hover{
    color: #e1c340;
    text-decoration: none;
}

#carrusel{
    width: 100%;
    height: 600px;
    display:flex;
    margin: auto;
    justify-content: left;
    align-items: center;

}
